# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log


build/
*.tsbuildinfo

# Environment variables
.env
.env.*

# Logs
logs/
*.log
log.txt

# OS
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
coverage/
.next/
out/
.cache/
turbo/
